.section-footer {
  background-color: var(--dark-color-navyblue);
}

.section-footer .container {
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-info .footer-logo {
  display: block;
  text-align: center;

  margin-bottom: 40px;
}

.footer-logo .logo-studio {
  color: var(--light-color-cloud);
}

.footer-info .footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--light-color-cloud);
}

.footer-socials .socials-header {
  margin-bottom: 16px;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;

  text-align: center;

  color: var(--bacground-color-white);
}

.footer-socials .socials-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-socials .social-link:hover,
.footer-socials .social-link:focus {
  background-color: var(--succsess-color-green);
}

.section-footer .footer-form {
  display: flex;
  flex-direction: column;
}

.footer-form .form-field {
  text-align: center;
  margin-bottom: 14px;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--bacground-color-white);
}

.footer-form .form-input {
  padding: 12px 16px;

  color: rgba(255, 255, 255, 0.6);
  background-color: inherit;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.form-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-form .form-button {
  position: relative;

  display: block;
  margin-left: auto;
  margin-right: auto;

  padding: 8px 64px 8px 24px;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  cursor: pointer;
  border: 1px solid var(--primary-color-iris);
  border-radius: 4px;

  color: var(--bacground-color-white);
  background-color: var(--primary-color-iris);

  transition: background-color var(--duration-250) var(--timing-function-cubic);
}

.footer-form .form-button:hover,
.footer-form .form-button:focus {
  background-color: var(--pressed-color-ocean);
}

.form-button .button-icon {
  position: absolute;
  top: 10px;
  right: 24px;
}
