.section-header > .container {
  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid #e7e9fc;
}

.section-header .logo {
  padding-top: 16px;
  padding-bottom: 16px;
}

.section-header .logo-studio {
  color: var(--dark-color-navyblue);
}

.section-header .menu-button {
  display: flex;

  align-items: center;
  margin: 0;
  padding: 14px 0;

  border: none;
  background-color: transparent;
}
