@media (min-width: 1440px) {
  .container {
    width: 1440px;
  }

  .section-header > .container {
    padding-left: 156px;
    padding-right: 156px;
  }

  .section-header .mobile-menu {
    gap: 340px;
  }

  .section-header .header-adress {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .header-adress .adress-list {
    display: flex;

    gap: 40px;
  }
  .adress-list .adress-item {
    align-self: center;
  }

  .adress-item .adress-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .section-hero > .container {
    padding-top: 188px;
    padding-bottom: 188px;
  }

  .section-feature .container {
    padding: 120px 156px;
  }

  .feature-item .feature-thumb {
    display: flex;
    height: 112px;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;

    background-color: var(--light-color-cloud);

    border: 1px solid var(--subtle-text-color-light-slate);
    border-radius: 4px;
  }

  .section-feature .feature-list {
    margin: 0px -10px;
  }

  .feature-list .feature-item {
    margin: 0px 10px;
    flex-basis: calc((100% - 10px * 8) / 4);
  }

  .feature-item .item-header {
    margin-bottom: 18px;

    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }

  .section-team > .container {
    padding: 112px 156px;
  }

  .section-team .container-title {
    margin-bottom: 72px;
  }

  .section-portfolio .container {
    padding: 120px 156px;
  }

  .section-portfolio .portfolio-list {
    margin-top: -36px;
    margin-bottom: -36px;
  }

  .portfolio-list .portfolio-card {
    flex-basis: calc((100% - 12px * 6) / 3);

    margin-top: 36px;
    margin-bottom: 36px;
  }

  .section-footer .container {
    padding: 100px 0 100px 156px;
  }

  .section-footer .footer-socials {
    margin-left: 120px;
  }

  .section-footer .footer-form {
    height: 80px;
    margin-left: 80px;
  }

  .footer-form .form-input {
    border: 1px solid var(--bacground-color-white);
    color: var(--bacground-color-white);
  }

  .footer-form .form-input::placeholder {
    color: var(--bacground-color-white);
  }

  .modal-form .input-label:focus-within .input-line {
    border-color: var(--primary-color-iris);
  }

  .modal-form .input-label:focus-within .icon {
    fill: var(--primary-color-iris);
  }

  .modal-form .texarea-label:focus-within .textarea-line {
    border-color: var(--primary-color-iris);
  }
}
