:root {
  --primary-color-iris: #4d5ae5;
  --pressed-color-ocean: #404bbf;
  --dark-color-navyblue: #2e2f42;
  --succsess-color-green: #31d0aa;
  --bacground-color-white: #ffffff;
  --modal-bgc-color-dairy: #fcfcfc;
  --light-color-cloud: #f4f4fd;
  --body-text-color-slate: #434455;
  --subtle-text-color-light-slate: #8e8f99;

  /* Час анімації */
  --duration-250: 250ms;

  /* Форма транфсормації */
  --timing-function-cubic: cubic-bezier(0.4, 0, 0.2, 1), box-shadow;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--body-text-color-slate);
  background-color: var(--bacground-color-white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ol,
ul {
  margin: 0;
  padding-left: 0;

  font-style: normal;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;

  padding-left: 16px;
  padding-right: 16px;
}

/* Секція хедер - навигація - базові стилі */

.section-header > .container {
  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid #e7e9fc;
}

.section-header .logo {
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;

  text-transform: uppercase;
  text-decoration: none;
}

.section-header .logo-web {
  color: var(--primary-color-iris);
}

.section-header .logo-studio {
  color: var(--dark-color-navyblue);
}

.menu-button {
  display: flex;

  align-items: center;
  margin: 0;
  padding: 14px 0;

  border: none;
  background-color: transparent;
}

.nav-item .nav-link {
  position: relative;

  font-size: 36px;
  font-weight: 700;
  line-height: 1.1111;
  letter-spacing: 0.02em;

  color: var(--dark-color-navyblue);
}

.nav-item .nav-link::after {
  display: none;
  content: " ";
  width: 100%;
  height: 4px;

  position: absolute;
  bottom: -1px;

  border-radius: 2px;

  background-color: var(--pressed-color-ocean);
}

.nav-item .nav-link.current {
  color: var(--pressed-color-ocean);
}

.nav-item .nav-link.current::after {
  display: block;
}

.adress-item .adress-link {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--body-text-color-slate);
}

/* Секція герой - базові стилі */

.section-hero {
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section-hero .container {
  padding-top: 72px;
  padding-bottom: 72px;
}

.section-hero .hero-header {
  margin-bottom: 72px;

  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;

  text-align: center;

  color: var(--bacground-color-white);
}

.section-hero .hero-button {
  display: block;
  margin: 0 auto;
  padding: 16px 32px;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: var(--bacground-color-white);
  background-color: var(--primary-color-iris);
  border: 1px solid var(--primary-color-iris);
  border-radius: 4px;

  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/*  */
/* Медіа правила */
/*  */

@media (min-width: 320px) {
  .container {
    width: 320px;
  }
}

@media (max-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

@media (min-width: 768px) {
  .menu-button {
    display: none;
  }

  .container {
    width: 768px;
  }

  .mobile-menu {
    display: flex;
    gap: 120px;
  }

  .section-header .logo {
    align-self: center;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .header-nav > .nav-list {
    display: flex;
    gap: 40px;
  }

  .nav-item .nav-link {
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
  }

  .header-adress {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .adress-item .adress-link {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.1667;
    letter-spacing: 0.04em;
  }

  .section-hero .container {
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .section-hero .hero-header {
    margin-bottom: 36px;
    margin-left: auto;
    margin-right: auto;

    width: 496px;
  }
}

@media (max-width: 1439px) {
  .adress-item:not(:last-child) {
    margin-bottom: 8px;
  }
}

@media (min-width: 1440px) {
  .container {
    width: 1440px;
  }

  .section-header > .container {
    padding-left: 156px;
    padding-right: 156px;
  }

  .mobile-menu {
    gap: 340px;
  }

  .header-adress {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .header-adress .adress-list {
    display: flex;

    gap: 40px;
  }
  .adress-list .adress-item {
    align-self: center;
  }

  .adress-item .adress-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .section-hero .container {
    padding-top: 188px;
    padding-bottom: 188px;
  }
}
